html {padding: 10px 0;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
.author {margin: 0 0 10px; padding: 1px 0;}
a.blog-post-title{ color: #333333; }
a:hover{text-decoration: underline;}
hr.post {margin: 6px 0;}
.full, input.input-text.full {width: 99%;}
footer{ color: #777; font-size: 11px; text-align: center; margin: 35px 0 5px 0;}
.orange{ color: #C97718; }
.textright { text-align: right; }
