{% extends "template.html" %}

{% block main %}

<div class="{% block contentclass %}nine columns{% endblock %}">
  {% for post in posts %}
  <div class="post">
    <h3><a href="/view/{{ post['key'] }}" class="blog-post-title">{{ post["title"] }}</a></h3>
    <hr class="post" />
    <div class="twelve columns author textright">{{ post["author"] }} - {{ post["date"] }} - {{ post["comment_count"] }} Comments</div>
    {% autoescape False %}
    {{ post["content"] }}
    {% endautoescape %}
  </div>
  {% endfor %}

  {% block afterpost %}
  <div class="row">
    <div class="eight columns">
    </div>
    <div class="four columns textright">
      <a href="/offset/{{ prev }}">Prev Page</a> - <a href="/offset/{{ next }}">Next Pages</a>
    </div>
  </div>
  {% endblock %}
</div>

{% block sidebar %}
<div class="three columns">
  <h3>Hai!</h3>
  <p>Here's suppose to be the sidebar, but this is a demo for a blog written with Riakkit.</p>
  <!--
  <h3>Search</h3>
  <form action="/search" method="GET" class="nice">
    <div class="row">
      <div class="twelve columns">
        <input name="search" type="text" style="width:96.5%;" class="input-text" placeholder="Search Term" />
      </div>
    </div>
    <div class="row">
      <div class="ten columns"></div>
      <div class="two columns">
        <button type="submit" class="nice small radius blue button right">Search</button>
      </div>
    </div>
  </form>
  Not ready yet ;D
  -->
</div>
{% endblock %}

{% endblock %}
